{% extends 'customerbase.html' %}
{% block title %}
Sign Up :: Computer Shop & HelpDesk
{% endblock title %}
{% load static %}
{% block content %}

<div class="login-register-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-form-container">
                        <div class="login-register-tab-list nav">

                            <a class="active" data-toggle="tab" href="#lg1">
                                <h4> Customer Registration </h4>
                            </a>
                        </div>
                        <form  method="post" name="signupform" onsubmit="javascript:alert('Registration Successful!');window.location='/customer/login';"> <!--onsubmit="return validateForm2(this)"-->
                            {% csrf_token %}
                            <div class="form-group row ">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail3" placeholder="Name"
                                        name="username"  minlength="5" maxlength="35" 
                                        title="Username should only have letters, numbers and underscore" required
                                        autofocus>
                                    <!-- <input type="text" class="form-control" id="inputEmail3" placeholder="Name"
                                        name="username"  minlength="5" maxlength="35" pattern="^\w+$"
                                        title="Username should only have letters, numbers and underscore" required
                                        autofocus> -->
                                </div>
                            </div>

                            <div class="form-group row ">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="user_email" placeholder="Email"
                                        pattern="[a-z0-9.]+@[a-z0-9.-]+.[a-z]{2,}$"
                                        title="Invalid Email. @ and . are missing." required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="pwd1" placeholder="Password"
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}"
                                        title="Must contain at least one  number, one uppercase, one lowercase letter, minimum 8 and maximum 20 characters"
                                        required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label"> Confirm</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="pwd2"
                                        placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}"
                                        title="Must contain at least one  number, one uppercase, one lowercase letter, minimum 8 and maximum 20 characters"
                                        required>
                                </div>
                            </div>

                            <div class="form-group row ">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Gender</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>-Select-</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">DOB</label>
                                <div class="col-sm-10">
                                    <input type="date" type="dob" class="form-control" placeholder="Date of Birth"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Phone #</label>
                                <div class="col-sm-10">
                                    <input type="text" required class="form-control" pattern="[0-9]{10}" title="Size : 10" placeholder="Phone Number">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" placeholder="Address"></textarea>
                                </div>
                            </div>
                            
                            <center>
                                <button type="submit" class="btn btn-primary ">Register!</button>
                            </center>
                            <!-- <div class="form-group row">
                                <div class="col-sm-10">
                                    
                                </div>
                            </div> -->
                        </form>
                        <!-- <div class="login-form-container">
                        <div class="login-register-form">
                            <form action="#" method="post" name="signupform" onsubmit="return validateForm2(this)">{%
                                csrf_token %}
                                <p>Name</p>
                                <input type="text" name="username" placeholder="Name" minlength="5" maxlength="35"
                                    pattern="^\w+$" title="Username should only have letters, numbers and underscore"
                                    required autofocus>
                                <p>Email</p>
                                <input type="email" name="user_email" placeholder="Email"
                                    pattern="[a-z0-9.]+@[a-z0-9.-]+.[a-z]{2,}$"
                                    title="Only lowercase letters, numbers and periods are allowed" required>

                                <p>Password</p>
                                <input type="password" name="pwd1" placeholder="Password"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}"
                                    title="Must contain at least one  number, one uppercase, one lowercase letter, minimum 8 and maximum 20 characters"
                                    required>

                                <input type="password" name="pwd2" placeholder="Confirm Password" minlength=8
                                    maxlength=20 required>
                                <p>Date of birth</p>
                                <input type="date" type="dob" placeholder="Date of Birth" required>
                                <p>Gender</p>
                                <div class="form-group">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>-Select-</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                </div>

                                <p>Address</p>
                                <textarea placeholder="Address"></textarea>
                                
                                <input type="text" pattern="[0-9]{6}" title="Size : 6" placeholder="Pin">
                                <div class="button-box">
                                    <button type="submit" class="col-lg-12 col-md-12">Register</button>
                                </div>
                            </form>
                        </div>

                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function validateForm2(signupform) {
        var password = document.getElementById("pwd1"), confirm_password = document.getElementById("pwd2");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Password are not the same!");
            } else {
                confirm_password.setCustomValidity('');
                password.onchange = validatePassword;
                confirm_password.onkeyup = validatePassword;
            }
        }
    }
</script>





{% endblock content %}